/*====  SERVICES ============================ */
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3rem 1.3rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--cards);
  height: 90%;
}

.header-card {
  height: 90% !important;
}

.card h3 {
  font-weight: 700;
}

.header-card img {
  width: 20%;
  margin-bottom: 1rem;
}

.card-img-1 {
  width: 7rem;
  height: 7rem;
}

.card-img-2 {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0.8rem;
}

.card-img-3 {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0.8rem;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: white;
}

.card p {
  color: white;
}

.card .grid img {
  background-color: white;
}
